<network>
  <name>{{ .LibvirtNet }}</name>
  <forward mode='nat'/>
  <bridge name='virbr-rhwa' stp='on' delay='0'/>
  <ip address='{{ .NetGateway }}' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ .Net3 }}.100' end='{{ .Net3 }}.199'/>
{{- range .Nodes }}
      <host mac='{{ .MAC }}' name='{{ .Host }}' ip='{{ .IP }}'/>
{{- end }}
    </dhcp>
  </ip>
</network>
