{{.OC}} apply -f - <<'YAML'
apiVersion: v1
kind: Namespace
metadata:
  name: {{.Namespace}}
  labels:
    openshift.io/cluster-monitoring: "true"
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: openshift-storage-operatorgroup
  namespace: {{.Namespace}}
spec:
  targetNamespaces:
  - {{.Namespace}}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: odf-operator
  namespace: {{.Namespace}}
spec:
  channel: {{.Channel}}
  name: odf-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  installPlanApproval: Automatic
YAML
